{% extends "intranet/base.html" %}
{% load static %}

{% block head-css %}
  <link rel="stylesheet" href="{% static 'absence_calendar/css/absence_calendar.css' %}">

  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="content-section">

    <h4 class="border-bottom pb-1 mb-4">Moje wnioski o pracę zdalną</h4>
    <select class="form-control" name="leaveType" id="leaveType">
      <option value="{% url 'absence_calendar:user_vacation_leaves' %}">Urlopy wypoczynkowe</option>
      <option value="{% url 'absence_calendar:user_special_leaves' %}">Urlopy okolicznościowe</option>
      <option value="{% url 'absence_calendar:user_absences' %}">Nieobecności</option>
      <option value="{% url 'absence_calendar:user_remote_works' %}" selected>Wnioski o pracę zdalną</option>
    </select>

    <div class="text-right">
      <button class="btn btn-link default-link collapse-toggle" type="button" id="filtersToggle" data-toggle="collapse" data-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
        <div class="toggle-expand small d-inline-block"><i class="fa fa-search mr-1" aria-hidden="true"></i>Pokaż wyszukiwarkę</div>
        <div class="toggle-collapse small d-none"><i class="fa fa-search mr-1" aria-hidden="true"></i>Ukryj wyszukiwarkę</div>
      </button>
    </div>

    <div class="collapse mb-2" id="filtersCollapse">
      <form class="mt-4" action="{% url 'absence_calendar:user_remote_works' %}" method="get">
        <div class="form-inline mt-1">
          <div class="col-md-6 form-group">
            <label for="decisiveFirstName" class="small">Imię decydującego</label>
            <input type="text" name="decisiveFirstName" id="decisiveFirstName" class="form-control col-md-12" value="{{ request.GET.decisiveFirstName }}">
          </div>
          <div class="col-md-6 form-group">
            <label for="decisiveLastName" class="small">Nazwisko decydującego</label>
            <input type="text" name="decisiveLastName" id="decisiveLastName" class="form-control col-md-12" value="{{ request.GET.decisiveLastName }}">
          </div>
        </div>
        <div class="form-inline mt-1">
          <div class="col-md-6 form-group">
            <label for="leaveRangeDateStart" class="small">Początkowa data pracy zdalnej</label>
            <input type="date" name="leaveRangeDateStart" id="leaveRangeDateStart" class="form-control col-md-12" value="{{ request.GET.leaveRangeDateStart }}">
          </div>
          <div class="col-md-6 form-group">
            <label for="leaveRangeDateEnd" class="small">Końcowa data pracy zdalnej</label>
            <input type="date" name="leaveRangeDateEnd" id="leaveRangeDateEnd" class="form-control col-md-12" value="{{ request.GET.leaveRangeDateEnd }}">
          </div>
        </div>
        <div class="form-inline mt-1">
          <div class="col-md-6 form-group">
            <label for="completionDateStart" class="small">Początkowa data wypełnienia wniosku</label>
            <input type="date" name="completionDateStart" id="completionDateStart" class="form-control col-md-12" value="{{ request.GET.completionDateStart }}">
          </div>
          <div class="col-md-6 form-group">
            <label for="completionDateEnd" class="small">Końcowa data wypełnienia wniosku</label>
            <input type="date" name="completionDateEnd" id="completionDateEnd" class="form-control col-md-12" value="{{ request.GET.completionDateEnd }}">
          </div>
        </div>
        <div class="form-inline mt-1">
          <div class="col-md-6 form-group">
            <label for="leaveStatus" class="small">Stan</label>
            <select class="form-control col-md-12" id="leaveStatus" name="leaveStatus">
              <option value="" {% if request.GET.leaveStatus == ""%}selected{% endif %}></option>
              <option value="{{ status_choices.PENDING.value }}" {% if request.GET.leaveStatus == status_choices.PENDING.value|stringformat:"i" %}selected{% endif %}>{{ status_choices.PENDING.representation }}</option>
              <option value="{{ status_choices.ACCEPTED.value }}" {% if request.GET.leaveStatus == status_choices.ACCEPTED.value|stringformat:"i" %}selected{% endif %}>{{ status_choices.ACCEPTED.representation }}</option>
              <option value="{{ status_choices.REJECTED.value }}" {% if request.GET.leaveStatus == status_choices.REJECTED.value|stringformat:"i" %}selected{% endif %}>{{ status_choices.REJECTED.representation }}</option>
              <option value="{{ status_choices.CANCELED.value }}" {% if request.GET.leaveStatus == status_choices.CANCELED.value|stringformat:"i" %}selected{% endif %}>{{ status_choices.CANCELED.representation }}</option>
              <option value="{{ status_choices.CANCELED_BY_DECISIVE.value }}" {% if request.GET.leaveStatus == status_choices.CANCELED_BY_DECISIVE.value|stringformat:"i" %}selected{% endif %}>{{ status_choices.CANCELED_BY_DECISIVE.representation }}</option>
              <option value="{{ status_choices.PENDING_TO_CANCEL.value }}" {% if request.GET.leaveStatus == status_choices.PENDING_TO_CANCEL.value|stringformat:"i" %}selected{% endif %}>{{ status_choices.PENDING_TO_CANCEL.representation }}</option>
              <option value="{{ status_choices.PENDING_TO_FINISH_EARLIER.value }}" {% if request.GET.leaveStatus == status_choices.PENDING_TO_FINISH_EARLIER.value|stringformat:"i" %}selected{% endif %}>{{ status_choices.PENDING_TO_FINISH_EARLIER.representation }}</option>
            </select>
          </div>
          <div class="col-md-6 form-group">
            <label for="remoteWorkId" class="small">Identyfikator</label>
            <input type="number" min="1" name="remoteWorkId" id="remoteWorkId" class="form-control col-md-12" value="{{ request.GET.remoteWorkId }}">
          </div>
        </div>
        <div class="text-right mt-2">
          <input type="submit" value="Wyszukaj" class="btn btn-primary btn-sm mr-3">
        </div>
      </form>
    </div>

    {% if not remote_works %}
      {% if request.GET %}
        <div class="alert alert-danger mt-2" role="alert">
          Nie znaleziono wniosków o pracę zdalną.
        </div>
      {% else %}
        <div class="alert alert-primary mt-2" role="alert">
          Brak wniosków o pracę zdalną.
        </div>
      {% endif %}
    {% else %}
      <div class="alert alert-info mt-2" role="alert">
        Liczba wykorzystanych dni na pracę zdalną w podanym okresie: <b>{{ sum_of_remote_work_days }}</b>
      </div>
    {% endif %}

    {% for remote_work in remote_works %}
      <hr class="mt-0">
      <div class="mb-4">
        <h4><a class="article-title" href="{% url 'absence_calendar:remote_work_detail' remote_work.id %}">Praca zdalna</a></h4>
        <div class="vacation-leave-controls-area">
          <div class="dropdown dropleft float-right pos-static">
            <a class="btn btn-sm btn-no-outline" href="#" role="button" id="remoteWorkDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v float-right" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="remoteWorkDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'absence_calendar:remote_work_detail' remote_work.id %}">Pokaż szczegóły</a>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-1"><i class="fa fa-calendar mr-2" aria-hidden="true"></i><b>Zakres nieobecności</b></div>
          <div class="date-range ml-4">
            {% if remote_work.start_date == remote_work.end_date %}
              <div class="absence-calendar-data-display">{{ remote_work.start_date }}</div>
            {% else %}
              <div class="date-range-from-label">Od</div>
              <div class="date-range-from text-wrap">{{ remote_work.start_date }}</div>
              <div class="date-range-to-label">do</div>
              <div class="date-range-to text-wrap">{{ remote_work.end_date }}</div>
            {% endif%}
          </div>
        </div>

        <div class="mb-2">
          <div><i class="fa fa-info-circle mr-2" aria-hidden="true"></i><b>Liczba dni</b></div>
          <div class="absence-calendar-data-display d-inline-block ml-4">{{ remote_work.number_of_days }}</div>

          <div><i class="fa fa-info-circle mr-2" aria-hidden="true"></i><b>Adres, pod którym wykonywana będzie praca zdalna</b></div>
          <div class="absence-calendar-data-display d-inline-block ml-4">ul. {{ remote_work.street }} {{ remote_work.house_number }}{% if remote_work.apartment_number %} {{ remote_work.apartment_number }}{% endif %}, {{ remote_work.postal_code }} {{ remote_work.city }}, {{ remote_work.country }}</div>


          <div><i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i><b>Osoba decydująca</b></div>
          <div class="absence-calendar-data-display d-inline-block ml-4 text-wrap">{{ remote_work.decisive_person.profile.get_name }}</div>

          {% if remote_work.message_for_decisive_person %}
            <div><i class="fa fa-comment mr-2" aria-hidden="true"></i><b>Wiadomość dla osoby decydującej</b></div>
            <div class="absence-calendar-data-display ml-4 text-wrap d-inline-block">{{ remote_work.message_for_decisive_person }}</div>
          {% endif %}

          {% if remote_work.is_pending_to_finish_earlier %}
            <div><i class="fa fa-info-circle mr-2" aria-hidden="true"></i><b>Nowa data zakończenia pracy zdalnej</b></div>
            <div class="absence-calendar-data-display d-inline-block ml-4">{{ remote_work.pending_end_date }}</div>

            <div><i class="fa fa-info-circle mr-2" aria-hidden="true"></i><b>Nowa liczba dni</b></div>
            <div class="absence-calendar-data-display d-inline-block ml-4">{{ remote_work.pending_number_of_days }}</div>
          {% endif %}
        </div>

        <p class="d-flex justify-content-center text-muted small">Data wypełnienia wniosku: {{ remote_work.date_of_completion }}</p>

        {% if remote_work.is_pending %}
          <div class="alert alert-info text-wrap" role="alert">Wniosek o pracę zdalną oczekuje na decyzję</div>
        {% elif remote_work.is_pending_to_cancel %}
          <div class="alert alert-warning text-wrap" role="alert">Wniosek o pracę zdalną oczekuje na akceptację odwołania</div>
        {% elif remote_work.is_pending_to_finish_earlier %}
          <div class="alert alert-warning text-wrap" role="alert">Wniosek o pracę zdalną oczekuje na akceptację prośby o wcześniejsze zakończenie</div>
        {% elif remote_work.is_accepted %}
          <div class="alert alert-success" role="alert">
            <p class="text-wrap p-0 m-0">
              Wniosek o pracę zdalną został zaakceptowany przez
              <b>{{ remote_work.decisive_person.profile.get_name }}</b>
              {% if remote_work.rejection_reason %}
                </br>
                {% if remote_work.pending_end_date and remote_work.pending_number_of_days %}
                  Decyzja o wcześniejszym zakończeniu pracy zdalnej została rozpatrzona negatywnie z następującego powodu: </br>
                {% else %}
                  Decyzja o odwołaniu pracy zdalnej została rozpatrzona negatywnie z następującego powodu: </br>
                {% endif %}
                <i>{{ remote_work.rejection_reason }}</i>
              {% endif %}
            </p>
          </div>
        {% elif remote_work.is_rejected %}
          <div class="alert alert-danger" role="alert">
            <p class="small text-muted text-wrap p-0 m-0">
              Wniosek o pracę zdalną został odrzucony przez
              <b>{{ remote_work.decisive_person.profile.get_name }}</b>
            </p>
            <p class="text-wrap p-0 m-0">
              {% if remote_work.rejection_reason %}
                {{ remote_work.rejection_reason }}
              {% else %}
                Nie został podany powód odrzucenia wniosku o pracę zdalną
              {% endif %}
            </p>
          </div>
        {% elif remote_work.is_canceled %}
          <div class="alert alert-danger text-wrap" role="alert">Ten wniosek o pracę zdalną został odwołany</div>
        {% endif%}
      </div>
    {% endfor %}

    {% include "intranet/pagination_template.html" %}
  </div>

{% endblock content %}

{% block bottom-js %}
  {{ block.super }}
  <script defer src="{% static 'intranet/js/filter_collapse.js'%}"></script>
  <script defer src="{% static 'absence_calendar/js/absences.js' %}"></script>
{% endblock bottom-js %}