{% extends "intranet/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">

    <form method="POST">
      {% csrf_token %}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Edycja spotkania</legend>
        <select class="form-control mb-4" name="location" id="location">
          {% for location in locations %}
            {% if request.GET.location %}
              <option value="{% url 'conference_rooms:meeting_update' object.id %}?location={{ location.id }}" {% if location.id|stringformat:"i" == request.GET.location %}selected{% endif %}>{{ location.name }}</option>
            {% else %}
              <option value="{% url 'conference_rooms:meeting_update' object.id %}?location={{ location.id }}" {% if location.default %}selected{% endif %}>{{ location.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <hr class="w-25">
        <p class="small text-danger">Pamiętaj, że spotkanie po edycji zmieni swój status na oczekujący na zaakceptowanie przez moderatora!</p>
        {% crispy form %}
      </fieldset>
      
    </form>

  </div>
{% endblock content %}

{% block bottom-js %}
  {{ block.super }}
  <script defer src="{% static 'conference_rooms/js/create_meetings.js' %}"></script>
{% endblock bottom-js %}