{% extends "intranet/base.html" %}
{% load static %}

{% block head-css %}

  <link rel="stylesheet" href="{% static 'conference_rooms/css/conference_rooms.css' %}">

  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="content-section">

    <h4 class="border-bottom pb-1 mb-4">Moje spotkania</h4>

    <div class="buttons-menu">
      <a class="btn btn-success btn-left {% if status == statuses.ACCEPTED %}font-weight-bold active{% endif %}" href="{% url 'conference_rooms:user_meetings_accepted' %}">Zaakceptowane</a>
      <a class="btn btn-info btn-middle {% if status == statuses.PENDING %}font-weight-bold active{% endif %}" href="{% url 'conference_rooms:user_meetings_pending' %}">Oczekujące</a>
      <a class="btn btn-danger btn-right {% if status == statuses.REJECTED %}font-weight-bold active{% endif %}" href="{% url 'conference_rooms:user_meetings_rejected' %}">Odrzucone</a>
    </div>

    <div class="text-right mt-2">
      <button class="btn btn-link default-link collapse-toggle" type="button" id="filtersToggle" data-toggle="collapse" data-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
        <div class="toggle-expand small d-inline-block"><i class="fa fa-search mr-1" aria-hidden="true"></i>Pokaż wyszukiwarkę</div>
        <div class="toggle-collapse small d-none"><i class="fa fa-search mr-1" aria-hidden="true"></i>Ukryj wyszukiwarkę</div>
      </button>
    </div>

    <div class="collapse mb-1" id="filtersCollapse">
      {% if status == statuses.ACCEPTED %}
      <form class="mt-4" action="{% url 'conference_rooms:user_meetings_accepted' %}" method="get">
      {% elif status == statuses.REJECTED %}
      <form class="mt-4" action="{% url 'conference_rooms:user_meetings_rejected' %}" method="get">
      {% else %}
      <form class="mt-4" action="{% url 'conference_rooms:user_meetings_pending' %}" method="get">
      {% endif %}
        <div class="form-inline mt-1">
          <div class="col-md-6 form-group">
            <label for="conferenceRoom" class="small">Sala konferencyjna</label>
            <select class="form-control col-md-12" id="conferenceRoom" name="conferenceRoom">
              <option value="" {% if request.GET.conferenceRoom == ""%}selected{% endif %}></option>
              {% for conference_room in conference_rooms %}
                <option value="{{ conference_room.id }}" {% if request.GET.conferenceRoom == conference_room.id|stringformat:"i" %}selected{% endif %}>{{ conference_room.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-6 form-group">
            <label for="meetingTitle" class="small">Tytuł</label>
            <input type="text" name="meetingTitle" id="meetingTitle" class="form-control col-md-12" value="{{ request.GET.meetingTitle }}">
          </div>
        </div>
        <div class="form-inline mt-1">
          <div class="col-md-6 form-group">
            <label for="meetingRangeDateStart" class="small">Początkowa data</label>
            <input type="date" name="meetingRangeDateStart" id="meetingRangeDateStart" class="form-control col-md-12" value="{{ request.GET.meetingRangeDateStart }}">
          </div>
          <div class="col-md-6 form-group">
            <label for="meetingRangeDateEnd" class="small">Końcowa data</label>
            <input type="date" name="meetingRangeDateEnd" id="meetingRangeDateEnd" class="form-control col-md-12" value="{{ request.GET.meetingRangeDateEnd }}">
          </div>
        </div>
        <div class="text-right mt-2">
          <input type="submit" value="Wyszukaj" class="btn btn-primary btn-sm mr-3">
        </div>
      </form>
    </div>

    <div class="border-bottom pb-1 mb-4"></div>

    {% if not meetings %}
      <div class="alert alert-primary mt-2" role="alert">
        Nie ma żadnych {% if status == statuses.ACCEPTED %}zaakceptowanych{% elif status == statuses.PENDING %}oczekujących{% elif status == statuses.REJECTED %}odrzuconych{% endif %} spotkań.
      </div>
    {% endif %}

    {% for meeting in meetings %}
      <div id="meeting">

        <div class="mb-3">
          <div class="meeting-calendar-card">
            <div style="background-color: {{ meeting.conference_room.color }};">
              <p class="meeting-calendar-card-header-text">{{ meeting.date|date:"F Y" }}</p> 
            </div>
            <div class="meeting-calendar-card-middle">
              <p>{{ meeting.date|date:"j" }}</p>
            </div>
            <div class="meeting-calendar-card-footer">
              <p>{{ meeting.date|date:"l" }}</p>
            </div>
          </div>

          <div class="meeting-controls-area">
            <div class="dropdown dropleft float-right pos-static">
              <a class="btn btn-sm btn-no-outline" href="#" role="button" id="meetingDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v float-right" aria-hidden="true"></i>
              </a>

              <div class="dropdown-menu" aria-labelledby="meetingDropdownMenuLink">
                {% if meeting.possible_to_edit %}<a class="dropdown-item" href="{% url 'conference_rooms:meeting_update' meeting.id %}">Edytuj</a>{% endif%}
                <a class="dropdown-item" href="{% url 'conference_rooms:meeting_delete' meeting.id %}">Usuń</a>
              </div>
            </div>
          </div>
        
          <h5 class="m-0 p-0"><a class="article-title text-wrap" href="{% url 'conference_rooms:meeting_detail' meeting.id %}">{{ meeting.title }}</a></h5>
          <p class="small text-muted text-wrap m-0 p-0">{{ meeting.conference_room.location.name }}, {{ meeting.conference_room.name }}</p>
          <p class="small text-muted text-wrap m-0 p-0">{{ meeting.start_time }}-{{ meeting.end_time }}</p>
          <p class="text-wrap m-0 p-0">
            {% if meeting.description %}
              {{ meeting.description }}
            {% else %}
              <p class="small text-muted">Brak opisu</p>
            {% endif %}
          </p>

          <div class="meeting-participants-container">
            {% if meeting.participant_set.all %}
              {% for participant in meeting.participant_set.all %}
                <div class="meeting-participants-item" style="border: 1px solid {{ meeting.conference_room.color }};">
                  {{ participant.name }}
                </div>
              {% endfor %}
            {% else %}
              <p class="small text-muted">Brak uczestników</p>
            {% endif %}
          </div>
        </div>

        {% if status == statuses.ACCEPTED %}
          <div class="alert alert-success" role="alert">
            <p class="text-wrap p-0 m-0">
              Zaakceptowane
              {% if meeting.status_changed_by %}
                {% if meeting.last_status_change_time %}
                  {{ meeting.last_status_change_time }}
                {% endif %}
                przez
                <b>{{ meeting.status_changed_by.profile.get_name }}</b>
              {% endif %}
            </p>
          </div>
        {% elif status == statuses.PENDING %}
          <div class="alert alert-info" role="alert">
            Spotkanie oczekuje na decyzję moderatora
          </div>
        {% elif status == statuses.REJECTED %}
          <div class="alert alert-danger" role="alert">
            <p class="small text-muted text-wrap p-0 m-0">
              Odrzucone
              {% if meeting.status_changed_by %}
                {% if meeting.last_status_change_time %}
                  {{ meeting.last_status_change_time }}
                {% endif %}
                przez
                <b>{{ meeting.status_changed_by.profile.get_name }}</b>
              {% endif %}
            </p>
            <p class="text-wrap p-0 m-0">
              {% if meeting.rejection_reason %}
                {{ meeting.rejection_reason }}
              {% else %}
                Nie został podany powód odrzucenia spotkania
              {% endif %}
            </p>
          </div>
        {% endif %}

        <div class="border-bottom pb-1 mb-4 mt-2"></div>
      </div>
    {% endfor %}

    {% include "intranet/pagination_template.html" %}

  </div>

{% endblock content %}

{% block bottom-js %}
  {{ block.super }}

  <script defer src="{% static 'intranet/js/filter_collapse.js'%}"></script>

{% endblock bottom-js %}
